.navbar {
    position: fixed;
    width: 100%;
    height: 72px;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
    padding: 0 2rem;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
}

.wrapper {
    margin-top: 80px;
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    padding: 20px 2rem .5rem;
    height: 100%;
    overflow: hidden;
    z-index: 9;
}
.sidebar-switch {
    position: absolute;
    left: 21px;
    top: 15px;
}

#sidebar.active {
    margin-left: -250px;
}

.user {
    margin: 0 0 1.5rem;
}

.user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: .8rem;
    transition: background-color .3s;
}

.user-img {
    width: 3rem;
    height: 3rem;
    background-color: #707070;
    border-radius: 50%;
    margin-right: .8rem;
}

.user-name {
    color: #333;
    font-weight: 500;
}

.user-email {
    color: #969696;
}

.navigation>li>a {
    padding: .85rem .5rem;
    border-radius: 2px;
}

.navigation li a {
    color: #707070;
    transition: background-color .3s,color .3s;
    font-weight: 500;
    display: block;
    text-decoration: none;
}

.navigation li a[data-toggle ="collapse"]:after {
    content: " >";
}

.navigation>li>a>i {
    vertical-align: top;
    font-size: 1.3rem;
    position: relative;
    top: .1rem;
    width: 1.5rem;
    text-align: center;
    margin-right: .6rem;
}

.navigation li.active>a {
    color: #000;
}

.navigation li:not(.active) a:hover, .user, .user-info:hover {
    background-color: rgba(0,0,0,.03);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

}