#alerts {
    margin-top:70px;
}

#alerts .alert {
    padding: 1rem 1.25rem;
}

#alerts .close {
    float: right;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    opacity: .5;
}

#content.container {
    margin: 10px auto;
}



.navbar-brand>span {
    font-size: 12px;
}

.btn-group.fab {
    right:0;
    left: auto;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}

.modal-dialog {
    margin-top: 120px;
    transform: translate(0, 0);
}

#chatbot-body.modal-body {
    max-height: 380px;
    overflow-y: auto;
}